snippet section
<section>
	$1
</section>
endsnippet

snippet li
<li>$1</li>
endsnippet

snippet code
<code>$1</code>
endsnippet

snippet pcode
<pre><code data-trim contenteditable>
	$1
</pre></code>
endsnippet

snippet frag
<div class="fragment">
	$1
</div>
endsnippet
